@model StockProject.Entities.Entities.Supplier

@{
    ViewData["Title"] = "AddSupplier";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
<div class="col-lg-6 offset-3">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Tedarikçi</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">Tedarikçi Güncelle</h3>
                                        </div>
                                        <hr>
                                        <form asp-action="UpdateSupplier" method="post" novalidate="novalidate">
                                           
                                            <div class="form-group">
                                                
                                                <label asp-for="SupplierName"  class="control-label mb-1">Tedarikçi Adı</label>
                                                <input asp-for="SupplierName"  type="text" class="form-control" aria-required="true" aria-invalid="false" >
                                            </div>
                                            <div class="form-group has-success">
                                                <label  asp-for="Address"  class="control-label mb-1">Adres</label>
                                                <input  asp-for="Address" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                               
                                            </div>
                                            <div class="form-group has-success">
                                                <label  asp-for="Phone"  class="control-label mb-1">Tel</label>                              
                                                <input  asp-for="Phone" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                               
                                            </div>
                                            <div class="form-group has-success">
                                                <label  asp-for="Email"  class="control-label mb-1">Email</label>                              
                                                <input  asp-for="Email" type="email" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name">
                                               
                                            </div>

                                                <button type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Tedarikçi Güncelle</span>
                                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                                </button>
                                            
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->

                    </div><!--/.col-->


